<!DOCTYPE html>
<html>
<head>
  		<!-- Use the 'title' property to render a page title  -->
    	<title><%= title %></title>
</head>
<body>
	<% if ( userFullName ) { %>
	<h2>Hello <%=userFullName%> </h2>
	<a href="/signout">Sign out</a>
	<% } else { %>
	<a href="/signup">Signup</a>
	<a href="/signin">Signin</a>
	<% } %>
	<br>
	<!-- Load the static image file  -->
	<img src="img/logo.png" alt="Logo">

	<!-- Use the 'title' property to render a title element  -->
	<h1><%= title %></h1>
</body>
</html>