<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
</head>
<body>
    <% for(var i in messages){ %>
        <div class="flash"><%= messages[i]%></div>
    <% }%>
<form action="/signup" method="post">
    <div>
        <label>First Name:</label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="lastName">
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Sign up" />
    </div>
</form>

</body>
</html>