<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
    </title>

    <style>
        .facebook_button {
        display: inline-block;

        background: #627aac url(../../config/public/img/facebook_small.png) left no-repeat;

        border-top: 1px solid #29447e;
        border-right: 1px solid #29447e;
        border-bottom: 1px solid #1a356e;
        border-left: none;

        height: 22px;

        padding-right: 7px;
        padding-left: 29px;

        font-weight: bold;
        font-size: 11px;
        color: white;
        text-decoration: none;
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
        line-height: 22px;

        cursor: pointer;

        }


    </style>
</head>
<body>
<% for(var i in messages) { %>
<div class="flash"><%= messages[i] %></div>
<% } %>
<form action="/signin" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Sign In" />
    </div>
</form>

<a href="/oauth/facebook" class="facebook_button" >Sign in with Facebook</a>
</body>
</html>